{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block container %}
<div class="container px-3 py-3 pt-md-5 pb-md-4">
    <div class="col-12 mb-5 pt-md-5">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary mb-2" href="{% url 'products:products_create' %}">Добавить товар</a>
        {% endif %}
        <div class="row">
            <div class="col-lg-10">
                {% for category in categories %}
                <div class="list-group">
                    <a href="{% url 'catalog:category' category.pk %}"
                       class="list-group list-group-item-action">{{ category.name }}</a>
                </div>
                {% endfor %}
                <hr>
                <div class="list-group">
                    <a href="{% url 'catalog:products_list' %}" class="list-group list-group-item-action">Сбросить фильтр</a>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ product.image | media_filter }}">
                        <div class="card-body">
                            <p class="card-text">{{ object.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'products:products_detail' product.pk %}"
                                       role="button">Подробнее</a>
                                    {% if user == products.user or perms.catalog.set_published_status and perms.catalog.change_description and perms.catalog.change_category or user.is_superuser %}
                                    <a class="btn btn-primary" href="{% url 'products:products_update' product.pk %}"
                                       role="button">Редактировать</a>
                                    <a class="btn btn-primary" href="{% url 'products:products_delete' product.pk %}"
                                       role="button">Удалить</a>
                                    {% endif %}
                                    {% for version in versions %}
                                    {% if version.product == product %}
                                    <p> Активная версия: <strong>{{ version.version_title }}</strong>
                                    <p> Номер версии: <strong>{{ version.version_number }}</strong>
                                        {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
